*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #393E46;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

h1{
    font-family: "Indie Flower", cursive;
    font-size: 5rem;
    grid-column: 2 / 4;
}

.startResult{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.consequence{
    display: flex;
    justify-content: center;
    align-items: end;
}

button{
    background-color: #3e5882;
    border: #00307e 2px solid;
    border-radius: 10%;
    color: aliceblue;
    font-size: 1rem;
    font-family:"Lobster", cursive;
    padding: 5px;
    cursor: pointer;
}

button :hover{
    font-size: 2rem;
}

.player{
    grid-row: 3 / 4;
}

.player1{
    grid-column: 2 / 3;
}

.player2{
    grid-column: 3 / 4;
}

p{
    font-family: "Lobster", cursive;
    font-size: 2rem;
    margin-bottom: 2rem;
}

img{
    width: 200px;
}

footer{
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    font-size: 1rem;
    font-family: "Lobster", cursive;
    color: aliceblue;
    text-decoration: none;
}

@media(min-width: 701px) and (max-width: 900px){
    .container{
        display: grid;
        grid-template-columns: 100px 1fr 1fr 100px;
    }

    
    
}

@media(min-width: 421px) and (max-width: 700px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h1{
        grid-column: 1 / 3;
    }

    .startResult{
        grid-column: 1 / 3;
    }

    .player1{
        grid-column: 1 / 2;
    }

    .player2{
        grid-column: 2 / 3;
    }

    img{
        width: 150px;
    }

    footer{
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 420px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h1{
        grid-column: 1 / 3;
        font-size: 3rem;
    }

    

    .startResult{
        grid-column: 1 / 3;
    }

    .player1{
        grid-column: 1 / 2;
    }

    .player2{
        grid-column: 2 / 3;
    }

    img{
        width: 100px;
    }

    footer{
        grid-column: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}